<% content_for :gutrees_all do %>
    <div id="conversation_all" data-branch-name="<%= @branch.name %>" data-branch-id="<%= @branch.id %>" >
      <div class="tabView">
        <div class="tab-body">
          <div id="contacts" class="tab-pane">
            <ul class="nav items nav-list tree"></ul>
          </div>
          <div id="chats" class="tab-pane">
            <ul class="items nav nav-list"></ul>
          </div>
          <div id="chat-settings" class=" tab-pane"></div>
        </div>

        <div class="chat_tabs ">
          <div class="shadow-top-wrap">
            <div class="shadow-bottom"></div>
          </div>
          <a class="chat-toggle ">
            <div class="ui-btn-inner">
              <i class="icon-indent-left"></i>
            </div>

          </a>
          <div class="navbar">
            <div class="navbar-inner">
              <ul class="nav tabs">
                <li>
                  <a href="#contacts" data-action="show:contacts"><i class="icon-user"></i></a>
                </li>
                <li>
                  <a href="#chats" data-action="show:chats"><i class="icon-envelope-alt"></i></a>
                </li>
                <li>
                  <a href="#chat-settings" data-action="show:chat-settings"><i class="icon-cog"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="conversation_direct">
        <div class="inner">
          <div class="conversation-tab-view">
	          <div class="conversation-empty-view">

                <header class="header">
                  <h5 class="light_header letter_pressed">Start a new conversation</h5>

                  <div class="shadow-bottom-wrap">
                    <div class="shadow-top"></div></div>
                </header>
                <div class="chat-icon-view">
              <span class="chat-icon letter_pressed">
                           <i class="icon-comment"></i>
                  </span>
                </div>
                <p class="hint letter_pressed">click on the add button to start talking </p>
              </div>
            <div class="conversation-tab-body">
              <div id="conversation-tab-pane_conference" class="conversation-tab-pane">
                <div class="header">
                  <div class="shadow-bottom-wrap">
                    <div class="shadow-top"></div>
                  </div>
                  <div class="inner">
                    <div class="contact letter_pressed">
                    <span class="image_wrap">
                       <%= image_tag @branch.photo.url(:icon), :alt =>@branch.name, :class=>"icon  avatar_shadow little-rounded "%>
                    </span>
                      <span class="name ui-inline-text"><%=@branch.name %></span>
                      <p><span class="online online-status"></span> online</p>
                    </div>
                  </div>
                </div>
                <div class="content">
                  <div class="conversation-view " data-conversation-state="conversation">
                    <div class="chat-message-view">
                      <ul class="chat-messages items"></ul>
                    </div>
                  </div>
                </div>
                <div class="footer">
                  <div class="shadow-top-wrap">
                    <div class="shadow-bottom"></div>
                  </div>
                  <div class="inner">
                    <div class="chat-input-container">
                      <div class="chat-input">
                        <div class="inner">
                          <input type="text" placeholder="type a message and press enter">
                        </div>
                      </div>
                      <div class="control-toggle btn-group">
                        <button class="btn btn-warning send">Send</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="conversation-tab-nav footer">
              <div class="inner">
                <div class="tab-inner">
                  <ul id="active-conversation-tabs" class="tabs"></ul>
                </div>
                <div id="connversation-side-nav" class="navbar ">
                  <div class="navbar-inner">
                    <ul class="nav tabs">
                      <li class="dropup-container ops">
                        <a class="dropup-toggle"></a>
                        <ul id="inactive-conversation-tabs" class="dropup-menu">
                        </ul>
                      </li>
                      <li id="conference-tab">
                        <a href="#conversation-tab-pane_conference"  ><i class=" icon-group"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div>
            </div>
          </div>

        </div>


		
        <script id="chat-message-tmpl" type="text/x-jquery-tmpl">
          {{if isCurrentUser}}
          <li class="chat-message-container right_arrow carbon fader">
            <p class="chat-message-meta meta letter_pressed">
              <span class="name">You &raquo;</span>
              <span class="time tip meta" title="${formattedDate}">${formattedTime}</span>
            </p>
            {{if body && html}}
            <p  class="chat-message-body letter_pressed" title="${body}">
              {{html html}}
            </p>
            {{else}}
            <p class="chat-message-body letter_pressed" title="${body}">
              ${body}
            </p>
            {{/if}}
          </li>
          {{else}}
          <li class="chat-message-container left_arrow green fader">
            <p class="chat-message-meta meta letter_pressed">
              <span class="name">${from.name} &raquo;</span>
              <span class="time tip meta" title="${formattedDate}">${formattedTime}</span>
            </p>
            {{if body && html}}
            <p  class="chat-message-body letter_pressed" title="${body}">
              {{html html}}
            </p>
            {{else}}
            <p class="chat-message-body letter_pressed" title="${body}">
              ${body}
            </p>
            {{/if}}
          </li>
          {{/if}}

        </script>

		<script id="_status-tmp" type="text/x-jquery-tmpl">
			<div class="_status">
			<span class="ui-text">${message}</span>&nbsp;<button  class="btn  btn-danger cancel">Cancel</button></div>
		</script>
		
		<script id="invite-tmpl" type="text/x-jquery-tmpl">
        	<div class="video-btns">
          		<button class="btn btn-large btn-block btn-primary call" data-loading-text="calling...">
				<i class="icon-facetime-video"></i> Start Video Call</button>
        	</div>
		</script>

		<script id="answer-tmpl" type="text/x-jquery-tmpl">
        	<div class="ui-grid-a">
             	<div class="ui-block-a">
					<div class="btn-wrap"><button class="accept btn btn-large btn-block btn-primary">Accept Call</button></div>
				</div>
             	<div class="ui-block-b">
					<div class="btn-wrap"><button class="reject btn btn-large btn-block btn-danger">Reject Call</button></div>
				</div>
        	</div>
		</script>
		
		<script id="live-tmpl" type="text/x-jquery-tmpl">
			<div class="card">
				<div class="info">
                  <div class="inner">
                    <div class="name"></div>
                    <button class="btn hang-up btn-danger">Hang Up</button>
                  </div>
				</div>
				<div id="remoteVideoWrap">
          			<div id="remote" class="remote"></div>
              		<div id="mirror" class="mirror"></div>
				</div>
        	</div>
		</script>
		
        <script id="conversation-tab-pane-tmpl" type="text/x-jquery-tmpl">

          <div id="conversation-tab-pane_${id}" class="conversation-tab-pane">
            <div class="header">
              <div class="shadow-bottom-wrap">
                <div class="shadow-top"></div>
              </div>
              <div class="inner">
                <ul class="video-control nav letter_pressed">
                  <li class="videoOp"><a class="facetime-video-toggle"><i class="icon-facetime-video"></i></a></li>
                </ul>
                <div class="contact letter_pressed">
            <span class="image_wrap">
            <img class="icon  avatar_shadow little-rounded " src="${user.photo_url}">
            </span>
                  <span class="name ui-inline-text">${user.name}</span>
                  <p class=""><span class="online online-status"></span> online</p>
                </div>
              </div>
            </div>
            <div class="content">
              <div class="conversation-view " data-conversation-state="conversation">
                <div class="chat-video-view">
                  <div class="video-status-bar">
                      <div class="error_container"></div>
                      <p class="message"></p>
                  </div>
                  <div class="video-call-view"></div>
                  <div class="shadow-bottom-wrap">
                    <div class="shadow-top"></div>
                  </div>
                </div>
                <div class="chat-message-view">
                  <ul class="chat-messages items"></ul>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="shadow-top-wrap">
                <div class="shadow-bottom"></div>
              </div>
              <div class="inner">
                <div class="chat-input-container">
                  <div class="chat-input">
                    <div class="inner">
                      <input type="text" placeholder="type a message and press enter">
                    </div>
                  </div>
                  <div class="control-toggle btn-group">
                    <button class="btn btn-warning send">Send</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>

        <script id="conversation-alert-tmpl" type="text/x-jquery-tmpl">
          <div class="alert-container">
            <div class="alert">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Warning!</strong> Best check yo self, you're not looking too good.
            </div>
          </div>
        </script>

        <script id="chat-item-tmpl" type="text/x-jquery-tmpl">
          <li id="${id}" class="item" data-action="conversations:show">
            <a class="message">
              <div class="ui-btn-inner">
                <div class="image_wrap">
                  <img class="icon little-rounded avatar_shadow" src="${user.photo_url}"/>
                </div>
                <div class="info">
                  <div class="info-wrap">
                  <h6 class="light_header ui-inline-text name">${user.name}</h6>
				  <div class="info-body"></div>
                </div>
                </div>
              </div>
            </a>
          </li>
        </script>

 <script id="chat-info-tmpl" type="text/x-jquery-tmpl">
<p class="body ui-inline-text" title="${notification.content}">
    <span class="indicator"></span>
	 ${notification.content}
</p>
<p class="chat-message-meta meta letter_pressed">
    <span class="time " title="${notification.formattedDate}">${notification.formattedTime}</span>
</p>
</script>

   <script id="indicator-tmpl" type="text/x-jquery-tmpl">
     {{if notification.type=="chat"}}
        {{if notification_counter > 0}}
            <span class="badge badge-success">${notification_counter}</span><span class="label"></span>
        {{else}}
            <i class="icon-comments"></i>
        {{/if}}
     {{/if}}
     {{if notification.type =="video"}}
        {{if notification_counter > 0}}
     <span class="badge badge-success">${unread}</span><span class="label"></span> <span class="badge badge-warning"><class="icon-facetime-video"></i></span><span class="label"></span>
        {{else}}
            <i class="icon-facetime-video"></i>
        {{/if}}
     {{/if}}
   </script>

        <script id="inactive-conversation-tab-tmpl" type="text/x-jquery-tmpl">
          <li id="inactive-conversation-tab_${id}">
            <a  class="op" data-action="action">
        <span class="ui-btn-inner ui-inline-text">
       <span class="close"><i class="icon-remove-sign"></i></span>
    {{if user.online && user.online.status=='available'}}
       <span class="online-status online"></span>
      {{else}}
      <span class="online-status offline"></span>
      {{/if}}
      <span class="ui-text">${user.name}</span></span>
            </a>
          </li>
        </script>

        <script id="conversation-tab-tmpl" type="text/x-jquery-tmpl">
          <li id="active-conversation-tab_${id}">
            <a class="btn ui-inline-text">
              {{if user.online && user.online.status=='available'}}
              <span class="online-status online"></span>
              {{else}}
              <span class="online-status offline"></span>
              {{/if}}
              <span class="close"><i class="icon-remove-sign"></i></span>
              <span class="ui-text">${user.name}</span>
            </a>
          </li>
        </script>

        <script id="contact-item-tmpl" type="text/x-jquery-tmpl">
          <li id='${id}' data-action='conversations:show:contact'>
            <a  class="contact">
              <div class="ui-btn-inner">
                <div class="image_wrap">
                  <img class="icon little-rounded avatar_shadow" src="${photo_url}"/>
                </div>
                <div class="info">
                  <span class="name ui-inline-text">${name}</span>
                  <p class="hint "><span class="online online-status"></span> online</p>
                </div>
              </div>
            </a>
          </li>
        </script>

        <script id="chat-load-tmpl" type="text/x-jquery-tmpl">
          <div class="alert-container">
            <div class="load fade in">
              {{html message}}
            </div>
          </div>
        </script>
        <script id="chat-error-alert-tmpl" type="text/x-jquery-tmpl">
          <div class="alert-container">
            <div class="alert alert-error box-shadow-bottom fade in">
              <button type="button" class="close" data-dismiss="alert">×</button>
              {{html message}}
            </div>
          </div>
        </script>

        <script id="chat-tree-tmpl" type="text/x-jquery-tmpl">
          <ul class="nav nav-list tree">
            <li class="toggle-admin" data-role="admin">
              <a>
                <span class="ui-btn-inner">Admins</span>
              </a>
              <ul class="nav items nav-list" data-affiliation-container="admin" ></ul>
            </li>
          </ul>
          <ul class="nav items nav-list tree" data-affiliation-container="member"></ul>
        </script>

        <script id="error-tmpl" type="text/x-jquery-tmpl">
          <div class="alert alert-error fade in box-shadow-bottom">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <i class="icon-warning-sign"></i> <strong>${message}</strong>
          </div>
        </script>
<% end %>