<% content_for :user_auth do %>
    <!--
    <div class="sign_up pull-right">
      <%= link_to new_user_registration_path,class:"btn btn-primary" do %>
          Sign Up
      <% end %>
    </div>
    <ul class="nav pull-right">
      <li class="divider-vertical"></li>
      <%= nav_tab 'login',new_user_session_path, current:"",icon:{:class=>""}%>
    </ul>
    -->
<% end %>
<%= current_aux_nav("home") %>
<div class="container-fluid">
  <div id="" class="modal-form no-shadow">
    <div class="modal-header">
    </div>
    <div class="form-box soon">
      <header class="ui-min-header">
        <h1 class="letter_pressed light_header "><i class="icon-time"></i> Coming Soon! </h1>
      </header>
    </div>
  </div>
</div>

