<div class="container-fluid">
<div class="content">
<div id="main" role="main" xmlns="http://www.w3.org/1999/html">
<div class="nav_main item" style="display: none;">
  <a class="brand">
    <img src="assets/gutress.png" />
  </a>
  <div class="btns">
   <a class="btn dropdown-toggle btn-warning" data-toggle="dropdown" href="#">
    Join For Free!
   </a>
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Learn more
    </a>
</div>
  <ul class="nav nav-list">
    <li ><a href="#">Home</a></li>
    <li><a href="#">Recent Trees</a></li>
  </ul>
</div>

<ul id="tiles">
  <li class="item polaroid">

    <header class="ui-mini-header">
      <h5 class="light_header p ui-inline-text letter_pressed">
        <i class="icon-sitemap"></i>
        <a href="#">St Gabriel Church</a>
      </h5>
    </header>
    <div class="brand_tree">
      <table class="table">
        <tbody>
        <tr>
          <td rowspan="2" class="rt">
            <div class="brand_link">
              <img src="assets/image_8.jpg" >
            </div>
          </td>
          <td class="bt">
            <div class="">
              <div class="stats meta">
                <p>

                  <span class="tree"><i class=" icon-sitemap"></i> 51</span><span class="dot">&nbsp;</span>

                  <span class="branch-ins leaf"><i class="icon-leaf"></i>&nbsp;900</span>
              </div>
              <p class="meta">created <span class="date">3 years ago </span></p>
            </div>
          </td>
        </tr>
        <tr>
          <td class="meta">
            <div class="meta manager" >
              <a class="avatar">
                <img width="32" height="32"src="assets/look5.png" class="avatar_shadow ui-icon"/>
              </a>
              <a href="#" class="ui-inline-text">Paul smith</a>
              <p class="meta"><i class="icon-user-md"></i> head</p>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="recent_post">

      <h6 class="latest meta"><em>latest...</em></h6>
      <article class="image_link">
        <header>
          <h6 class="ui-inline-text light_header"><a>The Beginning End</a></h6>
        </header>
        <p class="ui-desc">Relevant to me for the month of October according to Google. Serendipity...</p>
      </article>
    </div>
    <div class="categories">
      <p class=" meta">Categories:
        <a href="#">Education</a>,
        <a href="#">Sports</a>,
        <a href="#">Fashion</a>,
        <a href="#">News</a>,
        <a href="#">LifeStyle</a>
      </p>
    </div>
  </li>

  <li class="item polaroid">

    <header class="ui-mini-header">
      <h5 class="light_header p ui-inline-text letter_pressed">
        <i class="icon-sitemap"></i>
        <a href="#">St Gabriel Church</a>
      </h5>
    </header>
    <div class="brand_tree">
      <table class="table">
        <tbody>
        <tr>
          <td rowspan="2" class="rt">
            <div class="brand_link">
              <img src="assets/image_6.jpg" >
            </div>
          </td>
          <td class="bt">
            <div class="">
              <div class="stats meta">
                <span class="tree"><i class=" icon-sitemap"></i> 51</span><span class="dot">&nbsp;</span>
                <span class="branch-ins leaf"><i class="icon-leaf"></i>&nbsp;900</span>
              </div>
              <p class="meta">created <span class="date">3 years ago </span></p>
                </div>
          </td>
        </tr>
        <tr>
          <td class="meta">
            <div class="meta manager" >
              <a class="avatar">
                <img width="32" height="32"src="assets/avatar.jpg" class="avatar_shadow ui-icon"/>
              </a>
              <a href="#">Samuel Peter</a>
              <p class="meta"><i class="icon-user-md"></i> head</p>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="recent_post">
      <h6 class="latest meta"><em>latest...</em></h6>
      <article class="image_link">
        <header>
          <h6 class="ui-inline-text light_header"><a>The Beginning End</a></h6>
        </header>
        <img src="assets/image_9.jpg" >
        <p class="ui-desc">Relevant to me for the month of October according to Google. Serendipity...</p>
      </article>
    </div>
    <div class="categories">
      <p class=" meta">Categories:
        <a href="#">Education</a>,
        <a href="#">Sports</a>,
        <a href="#">Fashion</a>,
        <a href="#">News</a>,
        <a href="#">LifeStyle</a>
      </p>
    </div>
  </li>
  <li class="item polaroid">

    <header class="ui-mini-header">
      <h5 class="light_header p ui-inline-text letter_pressed">
        <i class="icon-sitemap"></i>
        <a href="#">St Gabriel Church</a>
      </h5>
    </header>
    <div class="brand_tree">
      <table class="table">
        <tbody>
        <tr>
          <td rowspan="2" class="rt">
            <div class="brand_link">
              <img src="assets/image_4.jpg" >
            </div>
          </td>
          <td class="bt">
            <div class="">
              <div class="stats meta">
                <p>

                  <span class="tree"><i class=" icon-sitemap"></i> 51</span><span class="dot">&nbsp;</span>

                  <span class="branch-ins leaf"><i class="icon-leaf"></i>&nbsp;900</span>
              </div>
              <p class="meta">created <span class="date">3 years ago </span></p>
            </div>
          </td>
        </tr>
        <tr>
          <td class="meta">
            <div class="meta manager" >
              <a class="avatar">
                <img width="32" height="32"src="assets/avatar.jpg" class="avatar_shadow ui-icon"/>
              </a>
              <a href="#">Samuel Peter</a>
              <p class="meta"><i class="icon-user-md"></i> head</p>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="recent_post">
      <h6 class="latest meta"><em>latest...</em></h6>
      <article class="image_link">
        <header>
          <h6 class="ui-inline-text light_header"><a>The Beginning End</a></h6>
        </header>
        <img src="assets/image_1.jpg" >
        <p class="ui-desc">Relevant to me for the month of October according to Google. Serendipity...</p>
      </article>
    </div>

    <div class="categories">
      <p class=" meta">Categories:
        <a href="#">Education</a>,
        <a href="#">Sports</a>
      </p>
    </div>
  </li>
  <li class="item polaroid">

    <header class="ui-mini-header">
      <h5 class="light_header p ui-inline-text letter_pressed">
        <i class="icon-sitemap"></i>
        <a href="#">St Gabriel Church</a>
      </h5>
    </header>
    <div class="brand_tree">
      <table class="table">
        <tbody>
        <tr>
          <td rowspan="2" class="rt">
            <div class="brand_link">
              <img src="assets/image_10.jpg" >
            </div>
          </td>
          <td class="bt">
            <div class="">
              <div class="stats meta">
                <p>

                  <span class="tree"><i class=" icon-sitemap"></i> 51</span><span class="dot">&nbsp;</span>

                  <span class="branch-ins leaf"><i class="icon-leaf"></i>&nbsp;900</span>
              </div>
              <p class="meta">created <span class="date">3 years ago </span></p>
            </div>
          </td>
        </tr>
        <tr>
          <td class="meta">
            <div class="meta manager" >
              <a class="avatar">
                <img width="32" height="32"src="assets/avatar.jpg" class="avatar_shadow ui-icon"/>
              </a>
              <a href="#">Samuel Peter</a>
              <p class="meta"><i class="icon-user-md"></i> head</p>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="recent_post">
      <h6 class="latest meta"><em>latest...</em></h6>
      <article class="image_link">
        <header>
          <h6 class="ui-inline-text light_header"><a>The Beginning End</a></h6>
        </header>
        <img src="assets/image_2.jpg" >
        <p class="ui-desc">Relevant to me for the month of October according to Google. Serendipity...</p>
      </article>
    </div>

    <div class="categories">
      <p class=" meta">Categories:
        <a href="#">Education</a>,
        <a href="#">Sports</a>
      </p>
    </div>
  </li>
  <li class="item polaroid">

    <header class="ui-mini-header">
      <h5 class="light_header p ui-inline-text letter_pressed">
        <i class="icon-sitemap"></i>
        <a href="#">St Gabriel Church</a>
      </h5>
    </header>
        <div class="brand_tree">
          <table class="table">
            <tbody>
            <tr>
              <td rowspan="2" class="rt">
                <div class="brand_link">
                  <img src="assets/image_9.jpg" >
                </div>
              </td>
              <td class="bt">
                <div class="">
                  <div class="stats meta">
                    <p>

                      <span class="tree"><i class=" icon-sitemap"></i> 51</span><span class="dot">&nbsp;</span>

                      <span class="branch-ins leaf"><i class="icon-leaf"></i>&nbsp;900</span>
                  </div>
                  <p class="meta">created <span class="date">3 years ago </span></p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="meta">
                <div class="meta manager" >
                  <a class="avatar">
                    <img width="32" height="32"src="assets/avatar.jpg" class="avatar_shadow ui-icon"/>
                  </a>
                  <a href="#">Samuel Peter</a>
                  <p class="meta"><i class="icon-user-md"></i> head</p>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      <div class="recent_post">
        <h6 class="latest meta"><em>latest...</em></h6>
          <article class="image_link">
              <header>
                <h6 class="ui-inline-text light_header"><a>The Beginning End</a></h6>
              </header>
              <img src="assets/image_4.jpg" >
              <p class="ui-desc">Relevant to me for the month of October according to Google. Serendipity...</p>
          </article>
      </div>

    <div class="categories">
      <p class=" meta">Categories:
        <a href="#">Education</a>,
        <a href="#">Sports</a>
      </p>
    </div>
    </li>

  </ul>
</div>
</div>
</div>