<div class="btn-group">
  <a class="btn  dropdown-toggle btn-small" data-toggle="dropdown" href="#">
    <i class=" icon-caret-down"></i>
  </a>
  <ul class="dropdown-menu top_arrowed">
    <li class="dropdown-submenu">
      <a tabindex="-1" href="#">
        <i class=" icon-share"></i>
        share
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#">
            <i class=" icon-facebook"></i>
            facebook
          </a>
        </li>
        <li>
          <a href="#">
            <i class=" icon-twitter"></i>
            twitter
          </a>
        </li>
        <li>
          <a href="#">
            <i class=" icon-google-plus"></i>
            google plus
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="icon-bookmark"></i>
        bookmark
      </a>
    </li>
    <li>
      <a href="#" class="important">
        <i class="icon-flag"></i>
        report
      </a>
    </li>
  </ul>
</div>