<aside class=" left_panel">
  <div class="left_panel_wrap">
    <div class="inner">
      <div class="a_info">
        <div class="a_nav">
          <header class="ui-mini-header">
            <h5 class="light_header p ui-inline-text letter_pressed">
              Browse
            </h5>
          </header>
          <ul class="nav nav-list">
            <li >
              <a href="#">
                Latest
              </a>
            </li>
            <li class="active"><a href="#">
              Popular</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Tags</a></li>
          </ul>

          <header >
            <div class="divider-horizontal"></div>
            <h5 class="light_header p ui-inline-text letter_pressed">
              <span class="label label-warning">Sponsored</span>
            </h5>
            <div class="divider-horizontal"></div>
          </header>
          <div class="sponsored letter_pressed">
            <ul class="tree_list nav">
              <li class="info_block">
                <a class="avatar">
                  <img src="/assets/image_6.jpg" class="avatar_shadow little-rounded " height="50" width="50">
                </a>
                <div class="info">
                  <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
                  <p class="meta">
                    <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
                    <span class="dot"></span>
                    <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
                  </p>
                </div>
              </li>
              <li class="divider-horizontal"></li>
              <li class="info_block">
                <a class="avatar">
                  <img src="/assets/image_8.jpg" class="avatar_shadow little-rounded  " height="50" width="50">
                </a>
                <div class="info">
                  <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
                  <p class="meta">
                    <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
                    <span class="dot"></span>
                    <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
                  </p>
                </div>
              </li>
              <li class="divider-horizontal"></li>
              <li class="info_block">
                <a class="avatar">
                  <img src="/assets/image_9.jpg" class="avatar_shadow little-rounded " height="50" width="50">
                </a>
                <div class="info">
                  <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
                  <p class="meta">
                    <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
                    <span class="dot"></span>
                    <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
                  </p>
                </div>
              </li>
              <li class="divider-horizontal"></li>
              <li class="info_block">
                <a class="avatar">
                  <img src="/assets/image_4.jpg" class="avatar_shadow little-rounded " height="50" width="50">
                </a>
                <div class="info">
                  <h6 class="light_header ui-inline-text"><a href="#">Glo Mobile</a></h6>
                  <p class="meta">
                    <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
                    <span class="dot"></span>
                    <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <ul class="nav nav-list" style="display: none;">
            <li><a href="#">Church</a></li>
            <li><a href="#">Culture</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Entertainment</a></li>
            <li><a href="#">Fashion</a></li>
            <li class="divider-horizontal"></li>
            <li><a href="#">more</a></li>
            <li class="divider-horizontal"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</aside>